
    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h3 class="text-white">Quando o Liverpool Joga?</h3>
            <h1 class="text-white"><%= @_controller.when_will_default_team_play()%></h1>
            <br>

<p><%= @_controller.get_next_match_date().strftime('%d de %b')%></p>
<p><%= @_controller.get_next_match_time() %></p>
<p></p>
<p><%= @_controller.get_next_match().homeTeamName %> x <%= @_controller.get_next_match().awayTeamName %> </p>

            <a href="#about" class="btn btn-dark btn-lg">Veja tabela completa</a>
        </div>
    </header>